.tiptap-button-group {
  align-items: center;
  display: flex;
  gap: 0.125rem;
  flex-direction: column;
  background-color: rgb(238, 238, 238);
}

.tiptap-button-group {
  &[data-orientation="vertical"],
  [data-orientation="vertical"] {
    flex-direction: column;
  }

  &[data-orientation="horizontal"],
  [data-orientation="horizontal"] {
    flex-direction: row;
  }
}
